/* Fonts CSS */

body
{
	font-family: 'Cabin', Arial, Helvetica, sans-serif;
	font-size: small;
}

/*#division {
    font-family: Cabin,Arial,Helvetica,sans-serif;
    font-size: small;
    font-style: italic;
    letter-spacing: 0.1em;
} 

#division a:hover 
{
    text-decoration: underline;
}

#division a 
{
    text-decoration: none;
}
*/
#bannerTitle {
    font-family: 'Cabin Bold', Arial,Helvetica,sans-serif;
    font-size: 3.5em;
    font-weight: bold;
	color:#0085cb;
}

#topNav {
    font-family: 'Cabin', Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 0.03em;
}
#topNav a {
    text-decoration: none;
}

/*#topNav a:hover {
    text-decoration: underline;
}*/

.leftColumn a:Link, .leftColumn a:Visited
{
	font-weight: bold;
	text-decoration: none;
}

.leftColumn li ul li a:Link, .leftColumn li ul li a:Visited
{
	font-weight: normal;
}

.leftColumn a:Hover
{
	text-decoration: underline;
}

.glinks
{
	font-weight: normal;
	overflow: hidden;
}

.glinks li a
{
	text-decoration: underline !important;
}

h1
{
	font-size: large;
	color:#006BCB;
	
}

h2
{
	font-size: large;
}

h3
{
	font-size: medium;
}

h4
{
	font-size: small;
}

.footer
{
	font-size: x-small;
}

.footer a:Link, .footer a:Visited
{
	font-size: x-small;
	text-decoration: none;
}

.footer a:Hover
{
	text-decoration: underline;
}
